.cds--subgrid--wide {
  //fix needed to keep the subgrid from scrolling horizontally
  margin-right: 1rem;
}

// Structured list overrides for pricing table
.pricing-table .cds--structured-list-th,
.pricing-table .cds--structured-list-td {
  padding-left: 1rem;
  padding-right: 1rem;
}
